    <div>
      <div class="trackInfo">
        <p class="trackInfo-title">{{ player.nowPlaying.title }}</p>
        <p class="trackInfo-artist">{{ player.nowPlaying.artist }}</p>
        <p class="trackInfo-album">{{ player.nowPlaying.album }}</p>
      </div>
      <!--<p>Current Time: {{ currentTime }}</p>-->
      <!--<p>Now Playing: {{ player.nowPlaying }}</p>-->
      <img style="width:100%" ng-src="{{player.nowPlaying.albumArt}}"></img>

      <div class="player-buttons">
        <img ng-click="prevSong()" class="nextprev prev" src="/images/prev.png"></img>
        <div ng-switch="player.status">
          <img ng-switch-when="0" ng-click="playPause()" class="nextprev" src="/images/play.png"></img>
          <img ng-switch-when="1" ng-click="playPause()" class="nextprev" src="/images/pause.png"></img>
        </div>
        <img ng-click="nextSong()" class="nextprev" src="/images/next.png"></img>
      </div>

      <img id="npImg"></img>
    </div>